<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <handleKeyPhrasesResponse>
                <processor type="DoctaCore.Feature.KeyPhraseExtraction.Pipelines.HandleKeyPhrasesResponse.UpdateItemsWithKeyPhrases, DoctaCore.Feature.KeyPhraseExtraction" resolve="true" />
            </handleKeyPhrasesResponse>
        </pipelines>
    </sitecore>
</configuration>