<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <scoreContent>
                <processor type="DoctaCore.Feature.ContentScoring.Pipelines.ScoreContent.ProcessContentScoringRules, DoctaCore.Feature.ContentScoring" />
                <processor type="DoctaCore.Feature.ContentScoring.Pipelines.ScoreContent.SaveContentScores, DoctaCore.Feature.ContentScoring" />
            </scoreContent>
            <handleKeyPhrasesResponse>
                <processor type="DoctaCore.Feature.ContentScoring.Pipelines.HandleKeyPhrasesResponse.ScoreContentWithKeyPhrases, DoctaCore.Feature.ContentScoring" resolve="true" />
            </handleKeyPhrasesResponse>
        </pipelines>
    </sitecore>
</configuration>