<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="DoctaCore.Feature.ContentScoring.RuleFolder" value="{7D029568-6369-46BF-B691-173B57526829}" />
      </settings>
  </sitecore>
</configuration>