<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <sitecore>
        <!-- DOCTA CORE COMMANDS -->
        <commands>
            <command name="analytics:getkeyphrases" type="DoctaCore.Feature.KeyPhraseExtraction.Shell.Framework.Commands.GetKeyPhrases, DoctaCore.Feature.KeyPhraseExtraction"/>
        </commands>
    </sitecore>
</configuration>